/*quitamos bordes del body*/
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  color: rgba(38, 38, 38, 0.77);
}
.avatar{
  border-radius: 50%;
}
.fila{
  /*posiciono mis elementos con en una fila*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fila-centrada{
  display: flex;
  align-items: center;
  justify-content: center;
}
.columna {
  display: flex;
  flex-direction: column;
}
.fila-space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fila-align-end{
  display: flex;
  align-items: flex-end;
}
.separador-barra:after{
  color: white;
  content: '|';
  /*pseudo elementos:
  https://dev.w3.org/html5/html-author/charref
  */
  font-size: 25px;
  margin: 0px 10px;
}
.separador-invisible:after{
  color: white;
  content: ' ';
  font-size: 25px;
  margin-left: 20px;
}
.contenedor-columna{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
.matriz-centrada{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.articulos {
  padding: 30px 100px;
}


.boton {
  border-radius: 5px;
  padding: 10px;
  background: #ff300b;
}
.boton-caja {
  background: lightgrey;
  border: 1px solid grey;
  padding: 5px 10px;
  font-weight: bold;
  color: rgba(38, 38, 38, 0.65);
}
.sombra{
  /*margin-top: 15px;*/
  border-radius: 5px;
  padding-bottom: 13px;
  background: #d12000;
}
.menu {
  padding-right: 20px;
}
.header {
  /*border: 1px dashed red;*/
  background: #1c3643;
  /*altura de imagen platzi*/
  height: 52px;
  /*texto del header en negritas*/
  font-weight: bold;
  /*para alinear el boton*/
  align-items: baseline;
}

.autor,.fecha {
  font-family: 'Open Sans', sans-serif;
}

  /*estilos de anclas*/
a {
  text-decoration: none;
  color: white;
}
/*agrego padding a todos los anchor dentro de un menu (mas facil de clicar)*/
li > a {
  padding: 10px;
  /*nota: para utilizar el selector '>' tiene que ser un padre directo del elemento*/
  /*source: https://www.w3schools.com/cssref/css_selectors.asp*/
}
/*coloca una barra despues del elemento*/
/*esto es un pdeudo elemento*/
/*Source: https://www.w3schools.com/css/css_pseudo_elements.asp*/
/*Todos los elementos 'li' en un menu de fila tienen un margen*/
/*.menu .fila li {
  margin: 0 20px 0 20px;
}*/
/*quitamos los puntos del unordered list*/
ul {
  list-style-type: none;
 }
figure{
  margin: 0 0 0 0;
  padding-left: 15px;
}
figure img {
  height: 26px;
}
.footer {
  /*border: 1px dashed red*/;
  padding: 10px 0px 30px 0px;
}
.buscar{
  justify-content: flex-end;
  margin: 5px 0px;
}
.portada{
  background: #f1f1f1;
}
hr.style1{
	border-top: 1px solid rgba(140, 140, 140, 0.52);
  /*source:
  https://codepen.io/ibrahimjabbari/pen/ozinB*/
}

.articulo{
  /*height: 200px;
  width: 200px;*/
  display: block;
  margin: 10px 10px;
  font-size: 17;
}
.articulo img {
  /*las etiquetas img tienes display inline por defecto*/
  height: 250px;
  width: 350px;
   object-fit: cover;
   /*https://stackoverflow.com/questions/19776670/how-to-emulate-background-size-cover-on-img*/
  display: block;
}
.articulo span {
  font-size: 25px;
}
#fondo-portada {
  background-image: url('../img/imagen1.jpg');
  background-size: cover;
  padding: 20px;
  padding-bottom: 30px;
  /*unidades vh, vw:*/
  /*https://devcode.la/tutoriales/unidades-vh-vw-css/*/
  width: 70vw;
  height: 70vh;
}
#articulo-portada{
  background-color: rgba(241, 241, 241, 0.51);
  padding: 30px;
  width: 40vw;
  font-size: 20px;
}

/*Convertimos la imagen de la lupa en el boton de busqueda*/
#magnifying-img{
  border-radius: 6px;
  height: 35px;
  cursor: pointer;
}
#input-buscar{
  height: 30px;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 5px;
}
#botones-footer{
  width: 400px;
}
#boton-invisible{
  background: white;
  border: 0px;
}
